html
    head
        title #{article.title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style 
            include ../styles/article-admin.css
        
    body
        nav 
            a(href="/") << Home
            if user
                div.user-info
                    p #{user.name}
                    a(href="/logout") Logout
            else 
                div.login
                    a(href="/login") Login

        div.content
            div.vulnerabilityControl
                h3 Vulnerability Control
                form(action="/vulnerabilities", method="POST")
                    div.checkbox
                        input(type="checkbox", id="xss", name="xss", checked=vulnerabilitySettings.isXssVulnerabilityEnabled)
                        label(for="xss") Enable XSS Vulnerability
                    div.checkbox
                        input(type="checkbox", id="brokenAccessControl", name="brokenAccessControl", checked=vulnerabilitySettings.isBrokenAccessControlVulnerabilityEnabled)
                        label(for="brokenAccessControl") Enable Broken Access Control Vulnerability

                    input(type="text", id="articleId", name="articleId", value=article.id, hidden)

                    button(type="submit") Save

            div.article
                div.edit
                    form(action="/admin/articles/"+article.id+"/edit", method="POST")
                        label(for="title") Title
                        input(type='text', id='title', name='title', value=article.title, required)
                        label(for="description") Description
                        textarea(name="description", cols="30", rows="20", required) #{article.description}
                        button(type="submit") Save
                
                h3 Comments (#{comments.length})
                ul.comments
                    form(action="/articles/"+article.id+"/comment", method="POST")
                        input(type='text', id='comment', name='comment', placeholder='Write a comment...' required)
                        button(type="submit") Post

                    each comment in comments
                        li.comment
                            div.top
                                p.comment-author #{comment.author}
                                p.date-commented #{comment.dateString}
                            p.comment-text #{comment.text}
                            iframe(srcdoc=comment.text, hidden)                    
